{
  "presets": [
    "module:metro-react-native-babel-preset",
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "reduxLocal": "./src/client/common/redux",
      }
    }]
  ]
}
